page-sabana-bandera {

    .card-header{
        background-color: rgba(68, 96, 127, 0.99);
        color: #fff;
    }

    .sabana-bandera-button {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .select-all {
        padding-right: 30px;
         padding-left: 4px;
    }

    .label-sabana-bandera{
        color: #2874A6 !important;
    }

    .input-fecha{
        font-weight: bold;
    }

    .has-refresher  .scroll-content {
        border-top: 0 !important;
    }
}
