.template-novedad {
    font-size: 8px !important;
    text-align: center;
    color: black;
    display: inline-block;
    padding: 0px 0px 5px 0px !important;
    border: 0px;
}

.celda-novedad {
    vertical-align: middle !important;
    width: 62px;
}

.celda-acciones {
    padding: 3px;
}

.acciones {
    width: 8px !important;
    height: 15px !important;
}

.accion-icon {
    font-size: 15px !important;
    color: black !important;
}

.template-novedad table {
    table-layout: initial !important;
}
