

            <form  #detailForm="ngForm" novalidate (ngSubmit)="detailForm.form.valid && save(detailForm)"  autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="detail.Id">{{"Editar Zona"}}</span>
                        <span *ngIf="!detail.Id">{{"Crear Zona"}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-lg-12" [ngClass]="{'has-danger': Descripcion.invalid && (Descripcion.dirty || Descripcion.touched)}">
                        <label>Descripción</label>
                        <input #Descripcion="ngModel" class="form-control" type="text" name="Descripcion" [(ngModel)]="detail.Descripcion" required maxlength="10">

                        <div *ngIf="Descripcion.invalid && (Descripcion.dirty || Descripcion.touched)"
                             class=" form-control-feedback">
                            <div *ngIf="Descripcion.errors.required">
                                La descripción es Requerida
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Detalle</label>
                        <textarea class="form-control" #Detalle="ngModel" type="text" name="Detalle" [(ngModel)]="detail.Detalle"></textarea>
                    </div>

                    <div class="m-checkbox-list col-lg-5">
                        <label class="m-checkbox" [hidden]="!detail.Id">
                            <input #Anulado="ngModel" id="Anulado" type="checkbox" name="Anulado" [(ngModel)]="detail.Anulado" >
                            Anulado
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Cancelar</button>
                    <button type="submit" class="btn btn-primary blue"
                            [buttonBusy]="saving" [busyText]="'Guardando..'"
                            [disabled]="!detailForm.form.valid"
                            [hidden]="!allowmodificarzona && detail.Id">
                        <i class="fa fa-save"></i> <span>Guardar</span>
                    </button>
                </div>
            </form>

