page-menu {

  .content-version{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .version{
    text-align: right;
    color: #CACFD2;
    padding-right: 10px;
  }

  .icon-menu {
    font-size: 25px;
  }
}
