<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Desvío</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right *ngIf="allowAgregarDesvio">
    <button ion-fab (click)="nuevoDesvio()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-card *ngFor="let item of desvios">
    <ion-card-content class="card-desvio">
      <ion-row  class="col-card">
        <ion-col col-10>
          <ion-list>
            <ion-item>
              <span class="label-fechaHora">{{item.FechaString}}</span>
            </ion-item>
          </ion-list>
        </ion-col> 
        <ion-col col-2 class="col-accion-desvio">
          <ion-item class="item-accion-desvio" (click)="eliminarDesvio(item.Id)" *ngIf="allowEliminarDesvio" >
            <ion-icon class="icon-trash" name="ios-trash-outline" color="primary"></ion-icon>
          </ion-item>
        </ion-col>
        <div class="truncated-text">
          <truncated-text [text]="item.Descripcion" limit="80"></truncated-text>  
        </div>   
      </ion-row>
    </ion-card-content>
  </ion-card>
    <!-- Pantalla sin consultas -->
    <ion-list class="sin-consultas" *ngIf="!desvios">
        <ion-item class="item-icon-not-search" no-lines>
            <ion-label class="label-info">No se encontraron desvios</ion-label>  
        </ion-item>
        <ion-item class="item-icon-not-search" no-lines>      
          <ion-icon class="icon-not-search" name="ios-trending-up-outline"></ion-icon>
        </ion-item>
      </ion-list>  
</ion-content>
