<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url(./assets/app/media/img//bg/bg-2.jpg);">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
        <div class="m-login__container">
            <div class="m-login__logo">
                <a href="#">
                    <img src="./assets/app/media/img//logos/rosariobus.png">
                </a>
            </div>
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        Establecer contraseña
                    </h3>
                </div>               
                <form (ngSubmit)="resetPassForm.form.valid && save()" #resetPassForm="ngForm" class="m-login__form m-form" action="">
                    <ng-template #alertSignin></ng-template>
                    <div class="form-group m-form__group">
                        <input type="password" name="Password"
                               class="form-control placeholder-no-fix"
                               [(ngModel)]="model.password"
                               #Password="ngModel"
                               placeholder="Contraseña"
                               required>
                        <!--

            [requireDigit]="true"
            [requireLowercase]="passwordComplexitySetting.requireLowercase"
            [requireUppercase]="passwordComplexitySetting.requireUppercase"
            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
            [requiredLength]="passwordComplexitySetting.requiredLength"-->
                    </div>
                    <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
                        <ul class="help-block text-danger" *ngIf="Password.errors">
                            <li [hidden]="!Password.errors.validateEqual">Las contraseñas deben ser Iguales</li>
                            <li [hidden]="!Password.errors.requireDigit">PasswordComplexity_RequireDigit_Hint</li>
                            <li [hidden]="!Password.errors.requireLowercase">PasswordComplexity_RequireLowercase_Hint</li>
                            <li [hidden]="!Password.errors.requireUppercase">PasswordComplexity_RequireUppercase_Hint</li>
                            <li [hidden]="!Password.errors.requireNonAlphanumeric">PasswordComplexity_RequireNonAlphanumeric_Hint</li>
                            <li [hidden]="!Password.errors.requiredLength">PasswordComplexity_RequiredLength_Hint, passwordComplexitySetting.requiredLength</li>
                        </ul>
                    </div>
                    <div class="form-group m-form__group">
                        <input type="password" name="PasswordRepeat" class="form-control placeholder-no-fix"
                               [ngModel]="model.passwordRepeat"
                               #PasswordRepeat="ngModel"
                               placeholder="{{l('Repetir Contraseña')}}"
                               [equalTo]="Password"
                               required>
                        <!--[requireDigit]="passwordComplexitySetting.requireDigit"
            [requireLowercase]="passwordComplexitySetting.requireLowercase"
            [requireUppercase]="passwordComplexitySetting.requireUppercase"
            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
            [requiredLength]="passwordComplexitySetting.requiredLength"-->
                    </div>

                    <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
                        <ul class="help-block text-danger" *ngIf="PasswordRepeat.errors">
                            <li [hidden]="!PasswordRepeat.errors?.equalTo">Las contraseñas deben ser Iguales</li>
                            <li [hidden]="!PasswordRepeat.errors.requireDigit">PasswordComplexity_RequireDigit_Hint</li>
                            <li [hidden]="!PasswordRepeat.errors.requireLowercase">PasswordComplexity_RequireLowercase_Hint</li>
                            <li [hidden]="!PasswordRepeat.errors.requireUppercase">PasswordComplexity_RequireUppercase_Hint</li>
                            <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">PasswordComplexity_RequireNonAlphanumeric_Hint</li>
                            <li [hidden]="!PasswordRepeat.errors.requiredLength">PasswordComplexity_RequiredLength_Hint, passwordComplexitySetting.requiredLength</li>
                        </ul>
                    </div>
                    <div class="m-login__form-action">
                        <button [disabled]="saving" routerLink="/login" type="button" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom">Cancelar</button>

                        <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                                [disabled]="!resetPassForm.form.valid || loading"
                                [ngClass]="{'m-loader m-loader--right m-loader--light': loading}">
                            Aceptar
                        </button>
                        <!--
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
            -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






