body .ui-state-highlight {
    background-color: #ffffff !important;
    color: #575962 !important;
}

/* .primeng-datatable-container .ui-datatable table thead tr th{
    white-space: nowrap;
}

.primeng-datatable-container .ui-datatable table thead tr td {
    white-space: nowrap;
} */


.estado-large {
    overflow: visible;
    width: 200px;
    min-width: 150px;
}

.checkrow {
    width: 5px;
}

.own-row{
    overflow: visible;
    word-break: break-word;
}

.primeng-datatable-container {
    width: auto; 
}


.fixer {
    min-width: 120px !important;
    width: auto !important;
    display: inline-block !important;
    position: relative !important;
    text-align: left !important;
    font-size: inherit !important;
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
    box-sizing: border-box !important;
    color: #575962 !important;
}