page-bandera-conductor {

    .bandera-conductor-button {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .icon-trash {
        font-size: 30px;
        margin-left: 8px !important;
        
    }

    .button-trash {
        margin-right: 0px !important;
    }

    .label-bandera-conductor{
        color: #2874A6 !important;
    }

    .input-fecha{
        font-weight: bold;
    }

    .has-refresher  .scroll-content {
        border-top: 0 !important;
    }

    .item-toggle-porCond{
        // #ABEBC6
           background-color: #D5F5E3; 
    }

    .icon-search{
        font-size: 20px;
        
    }

    .label-porCond{
        color: #566573 !important;
        font-weight: bold;
        font-size: 14px;

    }

    .ionic-selectable-page-md{
        background: #2c2e3e !important;
    }

    ion-item.item.item-block.item-md.item-input.item-ionic-selectable.item-input-has-value.ng-valid.ng-dirty.ng-touched {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 transparent;
        box-shadow: inset 0 0px 0 0 #dedede;
    }

    ion-item.item.item-block.item-md.item-input.item-ionic-selectable {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 transparent;
        box-shadow: inset 0 0px 0 0 #dedede;
    }

    .item-inner {
        border-bottom-color: #dedede !important;
        -webkit-box-shadow: inset 0 -1px 0 0 transparent;
        box-shadow: inset 0 0px 0 0 #dedede;
    }


}
