.mat-form-field-mat-datepicker-100p {
    display:initial !important;
}
.m-portlet__body_Involucrados {
    padding-top: 10px;
    max-height: 70vh
}
.form-involucrados {
    overflow:auto;
}
.m-form .m-form__actions {
    padding: 5px;
}
.mat-dialog-container {
    padding: 5px !important;
}