


<div>


    <div class="m-subheader">
        <div style="text-align: right;">
            <button (click)="onCreate()" *ngIf="allowAdd" class="btn btn-primary blue"><i class="fa fa-plus"></i> Crear Tipo de Colisión</button>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form class="horizontal-form filters" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">

                                        <input [(ngModel)]="filter.FilterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="'Buscar...'" type="text">
                                        <span class="input-group-append">
                                            <button (click)="onSearch()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengDatatableHelper.isLoading">

                        <p-dataTable #dataTable
                                     [lazy]="true"
                                     (onLazyLoad)="onSearch($event)"
                                     [value]="primengDatatableHelper.records"
                                     [paginator]="false"
                                     emptyMessage="{{l('Sin Datos')}}"
                                     scrollable="true"
                                     ScrollWidth="100%"
                                     responsive="primengDatatableHelper.isResponsive">

                            <p-column field="Descripcion" header="Descripción" [sortable]="true"></p-column>

                            <p-column field="Anulado" header="Anulado" [sortable]="true" styleClass="col-primeng-small">
                                >
                                <ng-template let-col let-row="rowData" pTemplate type="body">
                                    <div style="text-align:center">
                                        <label class="m-checkbox m-checkbox--air " [ngClass]="{'m-checkbox--state-success': row.Anulado}">
                                            <input [(ngModel)]="row.Anulado" type="checkbox" disabled><span></span>
                                        </label>
                                    </div>
                                </ng-template>
                            </p-column>

                            <p-column header="Acciones" [sortable]="false" styleClass="col-actions">
                                <ng-template let-col let-row="rowData" pTemplate type="body">
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" (click)="onEdit(row)" *ngIf="allowModify" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Editar">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <a href="javascript:void(0);" *ngIf="allowDelete" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" (click)="onDelete(row)"><i class="la la-trash"></i></a>
                                    </div>

                                </ng-template>
                            </p-column>

                        </p-dataTable>

                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="onSearch($event)"
                                         [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                Registros totales:  {{ primengDatatableHelper.totalRecordsCount}}
                            </span>
                        </div>

                    </div>
                    <!--<Primeng-Datatable-End>-->

                </div>
            </div>
        </div>

        <!--<createOrEditConductasNormasDtoModal #createOrEdit></createOrEditConductasNormasDtoModal>-->
    </div>

    <!--<ng-template #createOrEdit></ng-template>-->


</div>


