page-modal-sector-horario {

  .sector-seleccionado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #1ABC9C;
    color: #fff;
  }


  ion-icon {
      font-size: 30px; //Preferred size here
  }

  .cabecera-grilla{
      background: rgba(68, 94, 124, 0.92);
      color: #fff;       
  }

  .col-grilla{
      text-align: center;
  }

  .row-header-grilla{
      font-weight: bold;
      padding-top: 8px;
      font-size: 15px;
      padding-left: 10px;
  }

  // ion-row:nth-of-type(even) {
  //     ion-col {
  //         background: rgba(240, 240, 240, 3);
  //     }
  // }

  .sector-seleccionado {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      background-color: #1ABC9C;
      color: #fff;
  }

  .horario-sector {
      font-size: 20px;
      font-style: italic;
      // padding-left: 15px;
      color: #85929E;
  }

  .col-horario-sector{
      display: flex;
      justify-content: center;
      align-items: center;
      height:130px;
  }

  .label-sector {
      padding-left: 25px;
  }

  .label-sector-empleado {
    padding-left: 25px;
    font-size: 14px;
  }

  ion-icon{
      font-size: 20px;
  }

  .item-sector{
      height: 10px;
  }

  // .content-sector{
  //     background: #F8F9F9;
  // }

  .col-card {
      border-left: 3px solid #2874A6;
   }




}
