
<form #detailForm="ngForm" 
      novalidate 
      (ngSubmit)="detailForm.form.valid && save(detailForm)" 
      autocomplete="off">
    <div class="modal-header">
        <h4 class="modal-title">
            <span *ngIf="detail.Id">{{"Editar Tipo de Elemento"}}: {{detail.Descripcion}}</span>
            <span *ngIf="!detail.Id">{{"Crear Tipo de Elemento"}}</span>
        </h4>
        <button type="button" 
                class="close" 
                (click)="close()" 
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group" 
             [ngClass]="{'has-danger': Nombre.invalid && (Nombre.dirty || Nombre.touched)}">
            <label>Nombre</label>
            <input #Nombre="ngModel" 
                   class="form-control"
                   type="text" 
                   name="Nombre" 
                   [(ngModel)]="detail.Nombre" 
                   required 
                   maxlength="2000">

            <div *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched)"
                    class=" form-control-feedback">
                <div *ngIf="Nombre.errors.required">
                    El Nombre es Requerido
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="saving" 
                type="button"
                class="btn btn-default" 
                (click)="close()">Cancelar</button>
        <button type="submit" 
                class="btn btn-primary blue"
                [buttonBusy]="saving" 
                [busyText]="'Guardando..'"
                [disabled]="!detailForm.form.valid">
            <i class="fa fa-save"></i> <span>Guardar</span>
        </button>
    </div>
</form>