truncated-text {

  .col-card {
    border-left: 3px solid #2874A6;
 }

 .icon-truncated {
   display: block;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
 }

 .without-truncating {
   padding-bottom: 15px;
 }
}
