<!-- Coches -->
<div *ngIf="ccoche; else cocheSearcheable">
    <ion-item class="item-datos-conductor" >
      <ion-label class="label-form" floating>{{label}}</ion-label>
      <ion-select [(ngModel)]="value" interface="popover">
        <ion-option value="{{item.Id}}" *ngFor="let item of coches">{{item.Ficha}}</ion-option>
      </ion-select>
       <button class="btn-search" ion-button icon-only item-end clear="true" large (click)="verOtrosCoches()">
        <ion-icon name="ios-search-outline" color="primary"></ion-icon>
      </button>
    </ion-item>
  </div>
  <!-- Coches Searcheables -->
  <ng-template #cocheSearcheable>
    <ion-item class="item-searcheable item-datos-conductor" >
        <coches-searcheables [label] = "label" [currentItem]="currentCoche" #cocheSearchables (cocheSeleccionado)="onCocheChange($event)"></coches-searcheables> 
      <button class="btn-search" ion-button icon-only item-end clear="true" large (click)="verOtrosCoches()">
        <ion-icon name="ios-search-outline" color="primary"></ion-icon>
      </button>
    </ion-item>
  </ng-template>

  <ion-item *ngIf="showRequired" no-lines>
    <p color="danger" ion-text >{{label}} es Requerido</p>
  </ion-item> 
