coche-tarea-component {

  .item-searcheable {
    padding: 0;
    .item-md.item-block .item-inner {
      padding: 0;
    }

    ion-label {
      margin-right: 0 !important;
    }
  }


  .item-form {
    padding-left: 0px;
  }

  .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating], .item-input-has-value .label-md[floating], .input-has-value .label-md[floating] {
    padding-top: 20px;
  }

  .item:not(.item-label-stacked):not(.item-label-floating) .ionic-selectable-md .ionic-selectable-value {
    padding-left: 0px;
  }

  .btn-add {
    padding-left: 8px !important;
    font-size: 15px !important;
  }

}

