conductores-searcheables {

  .label-parada {
    color: #2874A6 !important;
    padding-top: 12px;
  }

  .form-paradas-searcheables{
    ion-item{
      border-bottom: none !important;
    }
  }

}
