<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Dashboard
            </h3>
            <!--<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Rosario Bus
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Dashboard
                        </span>
                    </a>
                </li>
            </ul>-->
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a *ngIf="!isEdit" href="#" name="editDashboard" (click)="editClick()" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Editar
                                            </span>
                                        </a>
                                        <a *ngIf="isEdit" href="#" name="saveDashboard" (click)="guardarClick()" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Guardar
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">


    <div class="row">
        <div id="layout-dialog" *ngIf="isEdit">
            <ul style="display: flex;">
                <li><a href="#" id="layout-a" (click)="changeTipo(1)"><strong>A</strong></a></li>
                <li><a href="#" id="layout-aa" (click)="changeTipo(2)"><strong>AA</strong></a></li>
                <li><a href="#" id="layout-ba" (click)="changeTipo(3)"><strong>BA</strong></a></li>
                <li><a href="#" id="layout-ab" (click)="changeTipo(4)"><strong>AB</strong></a></li>
                <li><a href="#" id="layout-aaa" (click)="changeTipo(5)"><strong>AAA</strong></a></li>
                <li><a href="#" id="layout-aab" (click)="changeTipo(6)"><strong>AAB</strong></a></li>

            </ul>
        </div>
    </div>



    <!--
        <p class="my-3">and the actual state is</p>
        <div class="row">
        <div class="col-sm-3">
            <div class="alert alert-dark">> {{ items1 | json }}</div>
        </div>
        <div class="col-sm-3">
            <div class="alert alert-dark">> {{ items2 | json }}</div>
        </div>
        <div class="col-sm-3">
            <div class="alert alert-dark">> {{ items3 | json }}</div>
        </div>
    </div>-->
    <div class="row" id="m_sortable_portlets" [ngClass]="{'isEdit': isEdit }">


        <div class="porletContainner" [ngClass]="{'col-md-12':(tipo == 1 || tipo == 6), 'col-md-6': tipo == 2, 'col-md-4': (tipo == 3 || tipo == 5), 'col-md-8': tipo == 4}">
            <ul class="list-group sortable" [sortablejs]="items1" [sortablejsOptions]="normalOptions">
                <li class="list-group-item" *ngFor="let item of items1">

                    <app-ad-ditem [dashboardItem]="item"></app-ad-ditem>
                </li>
            </ul>



        </div>

        <div class="porletContainner" [ngClass]="{'col-md-12':tipo == 1, 'col-md-6': (tipo == 2 || tipo == 6), 'col-md-8': (tipo == 3), 'col-md-4': (tipo == 4 || tipo == 5) }">
            <ul class="list-group sortable" [sortablejs]="items2" [sortablejsOptions]="normalOptions">
                <li class="list-group-item" *ngFor="let item of items2">
                    <app-ad-ditem [dashboardItem]="item"></app-ad-ditem>

                </li>
            </ul>
        </div>


        <div class="porletContainner" [ngClass]="{'col-md-12':tipo == 1, 'col-md-6': (tipo == 2 || tipo == 6), 'col-md-8': (tipo == 3), 'col-md-4': (tipo == 4 || tipo == 5) }">
            <ul class="list-group sortable" [sortablejs]="items3" [sortablejsOptions]="normalOptions">
                <li class="list-group-item" *ngFor="let item of items3">

                    <app-ad-ditem [dashboardItem]="item"></app-ad-ditem>
                </li>
            </ul>
        </div>



    </div>



</div>



<app-dsh-quick-sidebar #dshquicksidebar></app-dsh-quick-sidebar>