page-consultas-cache {

  .card-header{
    // padding-top: 10px;
    // padding-bottom: 8px;
    background-color: #1ABC9C;
    color: #fff !important;
    font-weight: 500;
    font-size: 12px;
  }

  .item-span{
    font-size: 12px;
  }

  .item-span-check{
    font-size: 12px;
    padding-left: 40px;
  }

  .card-content{
    padding: 0
  }

  .item-list{
    padding-left: 5px;
  }

  .col-label{
    max-width: 30% !important;
  }

  .item-list-b-rel{
    padding-left: 10px;
  }

  .check{
    padding-right: 10px
  }


  .label-cache{
    font-weight: bold;
  }

  .icono-desplegar{
    text-align: center
  }

  .icon-not-search {
    font-size: 300px;
    color: #1ABC9C;
    opacity: 0.2;
  }

  // .scroll-content{
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  .item-icon-not-search{
    text-align: center;
  }

  .label-info{
    font-size: 18px;
    color: #D7DBDD;
  }

  .sin-consultas {
    padding-top: 50px;
  }

}
