<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Permisos: <span *ngIf="userName"></span>{{userName}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="m-scrollable"
                         data-scrollable="true" data-max-height="55vh">
                        <permission-tree #permissionTree></permission-tree>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="note note-warning" >
                        <em>Para aplicar los cambios de permisos el usuario deberá volverse a autenticar en el sitio.</em>
                    </div>
                    <!--<button [disabled]="saving" [buttonBusy]="resettingPermissions" [busyText]="l('SavingWithThreeDot')" type="button" class="btn btn-default pull-left" (click)="resetPermissions()" [tooltip]="l('ResetPermissionsTooltip')" placement="top"><span>{{l("ResetSpecialPermissions")}}</span></button>-->
                    <button [disabled]="saving || resettingPermissions" type="button" class="btn btn-default" (click)="close()">Cancelar</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!userForm.form.valid" [buttonBusy]="saving" [busyText]="'Guardando Permisos...'"><i class="fa fa-save"></i> <span>Guardar</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
