<div>

    <div class="m-subheader">
        <div style="text-align: right;">
            <button (click)="onCreate()" *ngIf="allowAdd" class="btn btn-primary blue"><i class="fa fa-plus"></i> Crear Grupo de Líneas</button>
        </div>
    </div>  

    <div class="m-content">
        <div [hidden]="!active" class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">

                                        <input [(ngModel)]="filter.FilterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="'Buscar...'" type="text">
                                        <span class="input-group-append">
                                            <button (click)="onSearch()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">

                            <div class="col-md-6">
                                <span class="ui-fluid">
                                    {{filter.Linea}}
                                    <linea-autocomplete #pepe="ngModel" [SucursalId]="Sucursalid" [(ngModel)]="filter.Linea" name="lineas" id="lineas" placeHolder="Lineas" field="Description">
                                    </linea-autocomplete>
                                </span>
                            </div>

                            <div class="col-md-6">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-metal" (click)="onSearch()"><i class="fa fa-refresh"></i> Actualizar</button>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-25">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> Mostrar filtros avanzados</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> Ocultar filtros avanzados</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengDatatableHelper.isLoading">

                        <p-dataTable #dataTable
                                     [lazy]="true"
                                     (onLazyLoad)="onSearch($event)"
                                     [value]="primengDatatableHelper.records"
                                     [paginator]="false"
                                     emptyMessage="No Data"
                                     scrollable="true"
                                     ScrollWidth="100%"
                                     responsive="primengDatatableHelper.isResponsive">
                            <p-column field="Nombre" header="Nombre" [sortable]="true"></p-column>
                            <p-column field="Sucursal" header="Unidad de negocio" [sortable]="true"></p-column>
                            <p-column field="LineasTotales" header="Cantidad de líneas" [sortable]="false">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        <span class="m-badge m-badge--metal m-badge--wide"
                                              data-toggle="tooltip"
                                              title="Cantidad de Lineas agignadas"
                                              data-placement="top">
                                            {{record.LineasTotales}}
                                        </span>
                                    </span>
                                </ng-template>
                            </p-column>


                            <p-column header="Acciones" [sortable]="false" styleClass="col-actions">
                                <ng-template let-col let-row="rowData" pTemplate type="body">
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" (click)="onEdit(row)" *ngIf="allowModify" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Editar">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <a href="javascript:void(0);" *ngIf="allowDelete"  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" (click)="onDelete(row)"><i class="la la-trash"></i></a>
                                    </div>

                                </ng-template>
                            </p-column>

                        </p-dataTable>

                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="onSearch($event)"
                                         [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                Registros totales:  {{ primengDatatableHelper.totalRecordsCount}}
                            </span>
                        </div>

                    </div>
                    <!--<Primeng-Datatable-End>-->

                </div>
            </div>
        </div>

        <ng-template #createOrEdit></ng-template>

    </div>



</div>


