page-informe-detalle {

  .list-header{
    background-color: #20B2AA;
    color: #ffffff;
  }
  .list-header-nro-info{
    background: #F7F9F9;
    margin-bottom: 0px;

  }

  .label-nro-info{
    color:black;
  }

}
