 <div class="m-portlet m--bg-warning m-portlet--bordered-semi m-portlet--full-height">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text m--font-light">
                    Indicadores
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                    <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                        Año
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first">
                                            <span class="m-nav__section-text">
                                                Años
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-calendar"></i>
                                                <span class="m-nav__link-text">
                                                    2018
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-calendar"></i>
                                                <span class="m-nav__link-text">
                                                    2017
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-calendar"></i>
                                                <span class="m-nav__link-text">
                                                    2016
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-calendar"></i>
                                                <span class="m-nav__link-text">
                                                    2015
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
     

                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                    <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                        Mes
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first">
                                            <span class="m-nav__section-text">
                                                Meses
                                            </span>
                                        </li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Enero        </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Febrero      </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Marzo        </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Abril        </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Mayo         </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Junio        </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Julio        </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Agosto       </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Septiembre   </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Octubre      </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Noviembre    </span></a></li>
                                        <li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-calendar"></i><span class="m-nav__link-text">Diciembre    </span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin::Widget 29-->
        <div class="m-widget29">
            <div class="m-widget_content">
                <h3 class="m-widget_content-title">
                    Cumplimiento Horario
                </h3>
                <div class="m-widget_content-items">
                    <div class="m-widget_content-item">
                        <span>
                            Kms
                        </span>
                        <span class="m--font-accent">
                            80%
                        </span>
                    </div>
                    <div class="m-widget_content-item">
                        <span>
                            Horas
                        </span>
                        <span>
                            60%
                        </span>
                    </div>
                </div>
            </div>

            <div class="m-widget_content">
                <h3 class="m-widget_content-title">
                    Pasajeros
                </h3>
                <div class="m-widget_content-items">
                    <div class="m-widget_content-item">
                        <span>
                            Kms
                        </span>
                        <span class="m--font-accent">
                            80 %
                        </span>
                    </div>
                    <div class="m-widget_content-item">
                        <span>
                            Horas
                        </span>
                        <span class="m--font-accent" style="color:#fe21be!important">
                            60%
                        </span>
                    </div>
                    <div class="m-widget_content-item">
                        <span>
                            Servicio
                        </span>
                        <span class="m--font-brand">
                            850
                        </span>
                    </div>

                </div>
            </div>

        </div>
        <!--end::Widget 29-->
    </div>
</div>