<div [busyIf]="isLoading" [hidden]="!active" class="m-portlet m-portlet--mobile m-portlet--acce m-portlet--head-sm" id="m_portlet_detail" m-portlet="true">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="la la-clock-o"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    <span>{{"Horario"}}</span>

                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="#" (click)="onChangeScreen()" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-repeat"></i>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="#" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-expand"></i>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="#" (click)="close()" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-close"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body">

        <ul id="tabDetalleHorario_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
            <!--<li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link active" data-toggle="tab" id="m_h_quick_sidebar_tabs_Servicios" href="#m_quick_sidebar_tabs_Servicios" role="tab">
            Servicios
        </a>
    </li>-->
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" id="m_h_quick_sidebar_tabs_DetalleSYR" href="#m_quick_sidebar_tabs_createOrEditHFechasConfiServicios"  (click)="ServiciosSelected()" role="tab">
                    Servicios
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" id="m_h_quick_sidebar_tabs_MinutosXSector" href="#m_quick_sidebar_tabs_MinutosXSector" role="tab" (click)="MinutosPorSectorSelected()">
                    Minutos por sector
                </a>
            </li>

            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" id="m_h_quick_sidebar_tabs_Duracion" href="#m_quick_sidebar_tabs_Duracion" role="tab" (click)="DuracionSelected()">
                    Duración
                </a>
            </li>



        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="m_quick_sidebar_tabs_createOrEditHFechasConfiServicios" role="tabpanel">
                <ng-template #createOrEditHFechasConfiServiciosView></ng-template>
            </div>

            <div class="tab-pane" id="m_quick_sidebar_tabs_MinutosXSector" role="tabpanel">
                <ng-template #minutosPorSectorView></ng-template>
            </div>

            <div class="tab-pane" id="m_quick_sidebar_tabs_Duracion" role="tabpanel">
                <ng-template #duracionView></ng-template>
            </div>




        </div>



    </div>

</div>