span.ui-radiobutton-icon {
    margin-top: 0.1rem !important;
}

.ui-radiobutton-box.ui-widget.ui-state-default.ui-state-active 
{
    margin-bottom: 0.5rem !important;
}

.ui-radiobutton-box.ui-widget.ui-state-default 
{
    margin-bottom: 0.5rem !important;
}